/*#pacman {
  width: 100%;
  height: auto;
}*/

/*#pacman {
  position: absolute;
  z-index: 100;
}*/
pacman {
  position: fixed;
  height: auto;
}

body {
  display: flex;

}

button {
  height: 30px;
  width: 100px;
  margin: 20px;
  margin-top: 0px;
  border-radius: 5px;
  color: green;
  font-size: 15px;

}

div {
  vertical-align: middle;
  justify-content: center;
  margin: 20px;
}

p {
  margin: 20px;
  font-size: 30px;
  color: purple;
}
